<h2>Add a Pet</h2>

<form action="/addPets/add-pet"  method="post" enctype="multipart/form-data">
  <label> Name:
    <input type="text" name="name" />
  </label>

  <label> Species:
    <input type="text" name="species" />
  </label>

  <label> Feeding:
    <input type="text" name="feeding" />
  </label>

  <label> Environment:
    <input type="text" name="environment" />
  </label>

    <label>Add Image
        <input type="file" name="imageUrl" />
    </label>
    
 
  

  <button type="submit"> Create </button>
</form>

