<h1>{{title}}</h1>
<p>Welcome! Let's find you a pet!</p>
<a class="landingPage" href="/login">Signup Here</a> <span> | </span>
<a class="landingPage" href="/login/userLogin">Login</a> <span> | </span>
<a class="landingPage" href="/login/userProfile">My Profile</a> 
<br>

 <a class="homepagePup" href="/"><img src= "/images/homepage1.jpg"></a>
  <a class="homepageBunny" href="/"><img src= "/images/homepagebunny1.jpg"></a>
  <a class="homepageCat" href="/"><img src= "/images/homepagecat1.jpg"></a>
{{!-- make logout --}}