<h1>{{title}}</h1>
<p>Welcome! Let's find you a pet!</p>
<a href="/login">Signup Here</a> <span> | </span>
<a href="/login/userLogin">Login</a> <span> | </span>
<a href="/login/userProfile">My Profile</a> <span> | </span>
<a href="/logout">Logout</a>

{{!-- make logout --}}