<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/login/userProfile">User Profile</a> <span> | </span>
      <a href="/login/logout">Logout</a>
      </nav>
    <a href="/"><img src= "/images/pup.png"></a>
    {{{body}}}
  </body>
  <br>
 
</html>
