<!DOCTYPE html>
<html>
   <img src= "/images/pup.png">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <br>
 
</html>
