<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="/images/360_F_218053068_6TyCIpyBBIfxnCzN6O5mMjNIhGTv9gL5.jpg">
    <nav>
      <a href="/login/userProfile">My Profile</a> <span> | </span>
      <a href="/login/logout">Log Out</a>
      </nav>
    {{!-- <a class="homepageDogandOwner" href="/"><img src= "/images/dog-with-owner-outside-on-grass-1554715073.jpg"></a> --}}
    <a href="/"><img src= "/images/pup.png"></a>
    {{{body}}}
  </body>
  <br>
 
 
</html>
