body {
  padding: 50px;
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #355E3B;
  color: blanchedalmond;
  text-align: center;
}

img {
  padding: 40px;
}

a {
  color: blanchedalmond;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;

}

button {
  color: #355E3B;
  background-color: #ba8759 ;
  font-size: 15px;
}

nav {
  text-align: right;
  color: #8b4513;
  text-decoration: none;
}

.allMyPets {
  display: flex;
  flex-wrap: wrap;
}

.singlePet {
  flex-grow: 1;
  width: 30%;
  height: 100%;
  margin: 28px;
}

.singlePet h3 {
  font-size: 15px;
  padding: 10px;
}

.petInfo {
  border: 2px solid #ba8759;
}

