body {
  padding: 50px;
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #355E3B;
  color: white;
  text-align: center;
}

img {
  padding: 40px;
}

a {
  color: #00B7FF;

}

button {
  color: #355E3B;
  background-color: blanchedalmond;
  font-size: 15px;
}
