body {
  padding: 50px;
  font: 22px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #c9af98;
  color: #3a4660;
  text-align: center;
  /* background-size: cover; */
}

body h2 {
  text-decoration: #845007 underline overline;
  text-decoration-style: wavy;
}

img {
  padding: 30px;
}



a {
  color: #3a4660;
  text-decoration: underline;
  font-weight: bold;
  font-size: 22px;

}

button {
  color: #845007;
  background-color:  #FDF5E6;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 5px 5px 10px 2px grey;
}

.welcomeButton {
  border-color: #845007;
  background-color: #F5DEB3;
}

nav {
  text-align: right;
  color: #8b4513;
  text-decoration: none;
  font-size: 28px;
  
}

.landingPage {
  border: solid;
  padding: 6px;
  border-radius: 8px;
  border-color: #845007;
}

nav a {
  border: solid;
  padding: 6px;
  border-radius: 8px;
  border-color: #845007;
}

.allMyPets {
  display: flex;
  flex-wrap: wrap;
}

.singlePet {
  flex-grow: 1;
  width: 30%;
  height: 100%;
  margin: 28px;
}

.singlePet h3 {
  font-size: 15px;
  padding: 10px;
  color: #3a4660;

}

.petInfo {
  border: double;
  border-color: #845007;
  border-width: 6px;
  width: 550px;
  margin: auto;
}

.singlePet button {
  padding: 5px;
  margin-top: 10px;
}

.singlePet img {
  border-style: double;
  border-width: 8px;
  border-radius: 8px;
  height: 30vh;
  object-fit: cover
}

p {
  font-weight: bold;
}

.homepagePup img {
 border-radius: 20%; 
}

.homepageBunny img {
  border-radius: 20%;
}

.homepageCat img {
  border-radius: 20%;
}







/* .homepageDogandOwner img {
  float: left;
} */

